* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.navbar-brand h3 {
    font-weight: 600;
    font-size: 26px;
}

.navbar-nav {
    display: flex;
    gap: 30px;
    margin-bottom: 0;
    flex-grow: 1;
}

.navbar-nav .nav-link.active {
    color: #dc3545;
}

.navbar-nav .nav-link {
    color: #717275;
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    color: #dc3545;
    transition: 0.3ms;
}

.btn {
    background-color: #dc3545;
    padding: 10px 35px;
}

.site-header
{
    background-image: url(images/news/ee.jpg), linear-gradient(to top, #000000, transparent 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    background-blend-mode: overlay;
}

.col-lg-10.col-12.mx-auto
{
    text-align: center;
    margin-top: 150px;
}

.col-lg-10 h1
{
    font-weight: 600;
    font-size: 38px;
    margin: 0px 0px 8px;
    color: #ffffff;
}

.col-lg-10 strong
{
    font-weight: 600;
    font-size: 14px;
}

.section-padding 
{
    padding-top: 100px;
    padding-bottom: 100px;
}

.col-12 h2
{
    font-size: 32px;
    color: #000000;
    margin: 0px 0px 24px;
    padding: 0px 12px;
    font-weight: 550;
} 

.news-image {
    display: block;
    width: 100%;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in; 
}

.news-image:hover {
    transform: scale(1.05); 
    opacity: 0.8; 
}

.news-text-info
{
    background: var(#f9f9f9);
    position: relative;
    z-index: 2;
    padding: 20px;
}

.category-tag.me-3.bg-info
{
    font-size: 14px;
    color: #ffffff;
    background-color: #0dcaf0;
    margin: 0px 16px 5px 0px;
    padding: 4px 12px;
}

.News-title-link
{
    color: #ffffff;
    font-weight: 550;
    font-size: 20px;
}

.news-title-link
{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 550;
}

.news-title-link:hover
{
    color: #dc3545;
    text-decoration: none;
}

.News-title-link:hover
{
    color: #dc3545;
    text-decoration: none;
}

.News-thumb {
    position: relative; 
}

.News-text-info {
    position: absolute; 
    top: 80%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 20px;
}

.Category-tag {
    background-color: #dc3545;
    position: relative;
    left: 0px;
    z-index: 1; 
    font-size: 25px; 
}

.News-title a {
    font-size: 18px;
    font-weight: bold;
    color: #fff; 
    text-decoration: none;
}

.site-footer a
{
    color: #aaa;
}

.site-footer p
{
    color: #aaaaaa;
    font-size: 18px;
    margin: 0px 0px 16px;
}

.site-footer
{
    background-image: url(images/ss.jpg), linear-gradient(to top, #000, transparent 200%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    background-blend-mode: overlay; 
}

.site-footer .col-12
{
    margin-bottom: 50px;
}

.site-footer a {
    color: #aaa;
}

.site-footer p {
    color: #ccc;
    font-size: 18px;
    margin: 0 0 16px 0;
    font-family: sans-serif;
}

.col-lg-4 .text-white {
    font-size: 28px;
    color: #ffffff;
}

.custom-btn {
    margin: 8px 0 0;
    padding: 10px 35px;
    background-color: #717275;
    color: white;
}

.social-icon {
    display: flex;
    gap: 20px;
    font-size: 25px;
    list-style: none;
}

.social-icon a {
    color: #ffffff;
    transition: color 0.3s ease;
}

.social-icon a:hover {
    color: #ccc;
}

.copyright-text {
    color: #aaaaaa;
    font-size: 14px;
}

.copyright-text a {
    color: #aaa;
}

.copyright-text a:hover {
    color: #fff;
}

@media (max-width: 576px) {
    .site-header {
        height: 50vh;
    }

    .col-lg-10.col-12.mx-auto {
        margin-top: 100px; 
    }

    .col-lg-10 h1 {
        font-size: 28px; 
    }

    .col-lg-10 strong {
        font-size: 12px;
    }

    .section-padding {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .col-12 h2 {
        font-size: 24px; 
    }

    .news-thumb {
        margin-bottom: 20px;
    }

    .news-image {
        max-width: 100%;
        height: auto;
    }

    .News-text-info {
        top: 70%; 
        left: 50%;
        transform: translateX(-50%);
    }

    .site-footer {
        height: auto;
    }

    .site-footer .col-12 {
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .col-lg-4 .text-white {
        font-size: 24px;
    }

    .site-footer p {
        font-size: 16px;
    }

    .custom-btn {
        padding: 8px 25px; 
    }

    .google-map iframe {
        height: 200px; 
    }

    .copyright-text {
        font-size: 12px;
    }
}